body{
    background: rgb(27, 27, 27);
}
.container{
    width: 500px;
    margin: auto;
}
.heading{
    width: 336px;
    height: 48px;
    margin-left: 11px;
    margin-top: 10px;
    font-family:cursive;
    margin-bottom: 10px;
    background: black;
    border-radius: 35px;
}
.calculator{
    background-color: grey;
    width: 362px;
    border: 1px solid black;
    border-radius: 45px;
    box-shadow: 3px 10px 10px 10px grey;
    padding: 5px;
}
.calculator h1{
    text-align: center;
    font-size: 35px;
    margin-top: 0;
    color: orange;
}

input{
    width: 350px;
    height: 60px;
    font-size: 28px;
    margin-left: 2px;
    border-radius: 30px;
    background: rgb(173, 171, 171);
    color: rgb(255, 255, 255);
    outline: none;
    border: none;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 10px;
}
button{
    width: 86px;
    height: 85px;
    font-size: 40px;
    border: none;
    outline: none;
    border-radius: 40px;
    color: orange;
    background-color: black;
    transition: .3s;

}
button:hover{
    background-color: grey;
    box-shadow: inset 4px 4px 6px grey, inset -4px -4px 6px rgb(219, 219, 219);
    color: white;

}
.equal-btn:hover{
    background-color: rgb(155, 8, 8);
    box-shadow: none;
}

#evalBtn{
    background-color: rgb(112, 1, 1);
    color: white;
}
#evalBtn:hover{
    background-color: rgb(196, 78, 78);
    
}
