* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

.same-container {
    width: 500px;
    margin: auto;
}

.same-section {
    text-align: center;
    color: rgb(54, 33, 146);
}

.same-section form h1 {
    margin-right: 10px;
}

.same-section form label {
    font-size: 20px;
}

.same-section form input {
    margin-left: 20px;
    border: 1px solid rgb(6, 76, 101);
    padding: 7px;
    border-radius: 4px;
}

.same-section form button {
    font-size: 17px;
    border: none;
    border-radius: 3px;
    padding: 5px;
    color: white;
    background-color: rgb(6, 76, 101);
}

/* SIGN IN --- START --- */
.section1 {
    width: 400px;
    height: 280px;
    margin: auto;
    border: 1px solid black;
    border-radius: 4px;
    background: rgb(6, 76, 101);
    background: linear-gradient(90deg, rgba(6, 76, 101, 1) 1%, rgba(73, 195, 212, 1) 44%, rgba(8, 124, 154, 1) 69%, rgba(6, 98, 111, 1) 95%);

    position: absolute;

    /* top: -280px; */
    /* visibility: hidden; */

}
.vis-hide{
    visibility: hidden;
}

.show {
    visibility: visible;
    animation-name: animDown;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
}

.hide {
    visibility: visible;
    animation-name: animUp;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
}

@keyframes animDown {
    0% {
        top: -280px;
        opacity: 0;
    }

    100% {
        top: 100px;
        opacity: 1;
    }
}

@keyframes animUp {
    0% {
        top: 0px;
        opacity: 1;
    }

    100% {
        top: -280px;
        opacity: 0;
    }
}

/* SIGN IN --- END --- */

/* SIGN UP START*/
.section2 {
    width: 400px;
    height: 430px;
    margin: auto;
    border: 1px solid black;
    border-radius: 4px;
    background: rgb(6, 76, 101);
    background: linear-gradient(90deg, rgba(6, 76, 101, 1) 1%, rgba(73, 195, 212, 1) 44%, rgba(8, 124, 154, 1) 69%, rgba(6, 98, 111, 1) 95%);
    position: absolute;
    /* top: -450px; */
    /* visibility: hidden; */
}

.con2show {
    visibility: visible;
    animation-name: con2AnimDown;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
}

.con2hide {
    visibility: visible;
    animation-name: con2AnimUp;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
}

@keyframes con2AnimDown {
    0% {
        top: -280px;
        opacity: 0;
    }

    100% {
        top: 80px;
        opacity: 1;
    }
}

@keyframes con2AnimUp {
    0% {
        top: 0px;
        opacity: 1;
    }

    100% {
        top: -280px;
        opacity: 0;
    }
}
/* SIGN UP END */

/* Sign In Sign Out Buttons  ---  START ---*/
.btns {
    display: flex;
    position: absolute;
    right: 20px;
    top: 10px;
}

.signInBtn {
    font-size: 17px;
    border: none;
    border-radius: 3px;
    padding: 5px;
    color: white;
    background-color: #13a9cf;
    position: absolute;
    top: 10px;
    right: 100px;
}

.signOutBtn {
    font-size: 17px;
    border: none;
    border-radius: 3px;
    padding: 5px;
    color: white;
    background-color: #13a9cf;
    margin-left: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Sign In Sign Out Button --- END --- */